@import url('https://fonts.googleapis.com/css?family=Anton|Archivo+Black|Baloo+Bhaina|Permanent+Marker');
* {
  margin: 0px;
}

.cell {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: white;
  border: black solid 2px;
  border-radius: 2px;
  font-family: 'Permanent Marker', cursive;
  font-size: 80px;
  font-weight: 800;
  text-align: center;
  vertical-align: top;
  line-height: 100%;
  cursor: pointer;
}

#table {
  /*border: 1px solid black;*/
  border-radius: 5px;
  width: 80%;
  display: block;
  position: relative;
  top: 100px;
  table-layout: fixed;
}

.box {
  display: none;
}

.blur {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  -o-filter: blur(2px);
  filter: blur(2px);
}

.container {}

#outcome, #draw, #nextRound, #gameEnd {
  display: none;
  justify-content: center;
  font-family: 'Archivo Black', sans-serif;
  font-size: 30px;
  text-align: center;
  line-height: 100px;
  ;
  position: absolute;
  border-radius: 20px;
  top: 41%;
  background-color: rgba(226, 223, 224, 0.9);
  width: 380px;
  height: 100px;
  z-index: 1;
  padding: 0px;
  transition: all 3s ease-in-out;
  cursor: pointer;
  border: 2px solid black;
}

#gameEnd {
  top: 43%;
  padding-top: 15px;
  padding-bottom: 5px;
  display: inline;
  height: 150px;
  line-height: 50px;
}

#settings {
  font-family: 'Archivo Black', sans-serif;
  text-align: center;
  position: absolute;
  background-color: rgba(226, 223, 224, 1);
  width: 100%;
  height: 100%;
  z-index: 1;
  padding-top: 12%;
  padding: 10%;
  transition: all 3s ease-in-out;
}

form {
  padding: 15px;
}

input[type=text] {
  font-family: 'Archivo Black', sans-serif;
  font-size: 15px;
  padding: 10px;
  border: 2px solid #ccc;
  height: 12px;
  width: 120px;
  -webkit-border-radius: 5px;
  border-radius: 8px;
}

input[type=radio] {
  width: 25px;
}

#rounds, #squares {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 15px;
  padding: 10px;
}

#startbutton {
  font-family: 'Archivo Black', sans-serif;
  font-size: 15px;
  background-color: white;
  border: 2px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 8px;
  padding: 1%;
  transition: 0.1s all ease-in-out;
}

#startbutton:hover {
  transform: scale(1.1);
}

#outcome button {
  font-family: 'Archivo Black', sans-serif;
  width: 20px;
  height: 20px;
  transition: 0.3s all ease-in-out;
  border: 0px;
}

#outcome button:hover {
  transform: scale(1.1);
  color: rgb(107, 156, 219);
}

#score {
  display: none;
  position: absolute;
  top: 11%;
  left: 36%;
}

#xscore, #oscore {
  color: blue;
  text-shadow: rgb(15, 16, 97);
  padding: 20px;
}

.yesbutton, .drawbutton {
  font-size: 25px;
  display: inline-block;
  cursor: pointer;
  top: 40px;
  font-family: 'Archivo Black', sans-serif;
  width: 385px;
  height: 109px;
  border-radius: 15px;
}

h1 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 50px;
  color: black;
  position: absolute;
  right: 40%;
  top: 20px;
}

#settings h1 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 50px;
  color: black;
  position: static;
}

#settings p {
  padding: 10px;
}

#settingcontrols {
  padding: 10px;
}

h2 {
  font-family: 'Archivo Black', sans-serif;
  color: black;
  font-size: 30px;
  position: absolute;
  right: 45%;
  bottom: 20px;
}

body {
  font-family: 'Archivo Black', sans-serif;
  display: flex;
  justify-content: center;
  background-color: lightgrey;
}
